.flex.y_center.padding_medium
  .anchor5
    div
      if model.filename
        a.text.color.c_mysauce2(href='/#{model.room}/file/preview/#{model.filename}', target='_blank')
          span #{model.name}
      else
        span.text.color.c_mysauce2 #{model.name}
    div.text.small.desktop
      //- span.middle #{model.size}
      if model.filename
        //- span.middle.padding_left_small -
        input.middle.border.none.width70.text.small.book(value='http://shareme.io/#{model.room}/file/preview/#{model.filename}', style='background: transparent;', disabled)
  .anchor1.text.right.border.rad_small
    if model.filename
      a.text.color.c_mysauce2(href='/#{model.room}/file/#{model.filename}', target='_blank')
        .downloadLink.text.right.padding_small
          span.fa.fa-download
          span.padding_left_small.desktop Download
    else
      .queueFile.text.right.padding_small
        span.desktop Queue file
    .progressBar.border.rad_small.hidden.padding_small(style='background: rgb(225, 246, 250); width: 0%;')
if model.type == 'application/pdf' || model.type == 'video/avi'
  .flex.x_center.padding_left_medium.padding_right_medium.padding_bottom_medium
    embed(width='350px', height='450px', name='plugin', src='/#{model.room}/file/preview/#{model.filename}', type='#{model.type}')
if model.type == 'video/mp4'
  .flex.x_center.padding_left_medium.padding_right_medium.padding_bottom_medium
    video(controls='', name='media')
      source(src='/#{model.room}/file/preview/#{model.filename}', type='#{model.type}')
if model.type == 'audio/mp3'
  .flex.x_center.padding_left_medium.padding_right_medium.padding_bottom_medium
    audio(controls='', name='media')
      source(src='/#{model.room}/file/preview/#{model.filename}', type='#{model.type}')
if model.type == 'image/jpeg' || model.type == 'image/png'
  .flex.x_center.text.center.padding_left_medium.padding_right_medium.padding_bottom_medium(style='width: 60%;')
    a.text.center(href='/#{model.room}/file/preview/#{model.filename}', target='_blank')
      img.border.rad_small(src='/#{model.room}/file/preview/#{model.filename}')